{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <!-- Form -->
  <h2>New item</h2>
  <form action="{{ url_for('add_new_item') }}" method="post">
    <label for="item">Enter your new item: </label>
    <input type="text" name="new_item" id="item" required>
    <input type="submit" value="Add new item">
  </form>

  <!-- Display list -->
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in todo_items %}
          <li> {{ item.get('title') }}         Status: {{ item.get('status')}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}